div {
	width: 400px;
}

.hidden {
	display: none;
}

* {
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}

.js-choices-class {
    border-style: solid;
    background-color: rgb(226, 226, 207); 
}

.js-info-box {
    border-style: solid;
    background-color: rgb(226, 226, 207);
}

